<h1>Create your student account</h1>
<br />
<% form_for(@user, :url => "create") do |f| %>
  <%= f.error_messages %>

  <div>

    <div>
      <div class="floatLeft">
        <%= f.label :first_name, "Your first name:" %><br />
          <%= f.text_field :first_name %>
      </div>
      <div style="float: right; margin-right: 80px">
        <%= f.label :last_name, "Your last name:" %><br />
          <%= f.text_field :last_name %><br />
        <span class="input_hint">(only your teacher and classmates can see your name)</span>
      </div>
      <br class="clearFloat" />
    </div>
    <br />
    <div>
      <div class="floatLeft">
        <%= f.label :email, "Email address or username:" %><br />
          <%= f.text_field :email %><br />
        <span class="input_hint">(create a username if you do not have an email address)</span>
      </div>
      <div style="float: right; margin-right: 80px">
        <%= f.label :password, "Create a LinguaZone password:" %><br />
          <%= f.password_field :password %><br />
        <span class="input_hint">(anything you want &mdash; so long as you will remember it!)</span>
      </div>
      <br class="clearFloat" />
    </div>

    <br />
    <%= f.hidden_field :role, :value => "student" %>
    <%= f.hidden_field :subscription_id, :value => 0 %>

  </div>

  <p>
    <%= f.submit 'Create account' %>
  </p>

<% end %>
