<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher trials that expired in 2006", :users => @trials_2006, :total_count => @trials_2006.count, :table_id => "trials_2006"} %>
</div>

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher subscriptions that expired in 2006", :users => @subs_2006, :total_count => @subs_2006.count, :table_id => "subs_2006"} %>
</div>

<hr />

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher trials that expired in 2007", :users => @trials_2007, :total_count => @trials_2007.count, :table_id => "trials_2007"} %>
</div>

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher subscriptions that expired in 2007", :users => @subs_2007, :total_count => @subs_2007.count, :table_id => "subs_2007"} %>
</div>

<hr />

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher trials that expired in 2008", :users => @trials_2008, :total_count => @trials_2008.count, :table_id => "trials_2008"} %>
</div>

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher subscriptions that expired in 2008", :users => @subs_2008, :total_count => @subs_2008.count, :table_id => "subs_2008"} %>
</div>

<hr />

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher trials that expired in 2009", :users => @trials_2009, :total_count => @trials_2009.count, :table_id => "trials_2009"} %>
</div>

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher subscriptions that expired in 2009", :users => @subs_2009, :total_count => @subs_2009.count, :table_id => "subs_2009"} %>
</div>

<hr />

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher trials that expired in 2010", :users => @trials_2010, :total_count => @trials_2010.count, :table_id => "trials_2010"} %>
</div>

<div>
	<%= render :partial => "users_table", :locals => {:description => "Teacher subscriptions that expired in 2010", :users => @subs_2010, :total_count => @subs_2010.count, :table_id => "subs_2010"} %>
</div>
