<% stylesheet 'teachers' %>
<% stylesheet 'my_games' %>

<div>
	<div class="floatLeft">
		<h1>My classes</h1>
		<p>Create, edit, and manage your LinguaZone classes.</p>
	</div>
	<div class="floatRight">
		<%= link_to :action => "new" do %>
			<div class="new_button">
				<span>Create a new class</span>
			</div>
		<% end %>	
	</div>
	<br class="clearFloat" />
</div>

<br />

<div>
	<% if @courses.length == 0 %>
		<p>You have not created any class pages yet.</p>
	<% else %>
		<% for course in @courses do %>
			<div class="game_listing">
				<div class="game_details">
					<p><%= link_to course.name, :controller => "courses", :action => "show", :id => course.id %></p>
				</div>
				<div class="manage_game">
					<%= link_to "Edit", edit_my_course_path(course) %> | 
					<span class="warning"><%= link_to 'Delete', my_course_path(course), :method => :delete, :confirm => "Are you sure you want to delete this class?" %></span>
				</div>
				<br class="clearFloat" />
			</div>
		<% end %>
		<p class="extra_config"><%= link_to "Click here to reorganize the list of classes at your school.", {:controller => "schools", :action => "show", :id => current_user.school.id, :sorting => "true"}, :class => "reorder_classes" %></p>
	<% end %>
</div>