<div class="game_listing" id="<%= dom_id(game) %>">
	<div class="game_details">
		<%= link_to image_tag('/games/'+game.activity.swf+'/display/icon-small.jpg', :alt => 'Play '+game.activity.name), play_path(game.id) %>
		<p>
			<%= game.description %><br />
			<span class="date">customized in <%= game.language.name %> by <%= (game.updated_by.nil?) ? "unknown" : game.updated_by.display_name %></span>
			
		</p>
	</div>
	
	<div class="manage_game">
		<%= link_to "Adopt", :controller => "customize", :action => "adopt", :cmzr_type => "game", :id => game.id %>
	</div>
	<br class="clearFloat" />
</div>