<% form_tag :controller => "my_games", :action => "search" do %>
	<div align="center">
		Search for the word/ phrase: <%= text_field_tag :description, params[:description] %>
		in <%= collection_select('search', 'activity_id', @activities, :id, :name, {:prompt => "any game template"}) %>
	</div>
	<br />
	<div class="floatLeft">
		which is listed in...<br />
		<%= radio_button_tag 'course_id', -1, true %> any of my classes<br />
		<% for course in @all_courses do %>
			<%= radio_button_tag 'course_id', course.id, false %> <%= course.name %><br />
		<% end %>
	</div>
	<div class="floatRight">
		that are:
		<br />
		<%= radio_button_tag 'hidden', '0', false %> <em>only</em> showing
		<br />
		<%= radio_button_tag 'hidden', '1', true %> <em>only</em> hidden
		<br />
		<%= radio_button_tag 'hidden', '-1', false %> showing <em>or</em> hidden
	</div>
	<br class="clearFloat" />
	<br />
	<div>
		<!-- and has tag: -->
		<br />
		<% unless @tags.nil? or @tags.empty? %>
			<% for tag in @tags do %>
				<%= check_box_tag "search[tags][]", tag, false %> <%= tag %><br />
			<% end %>
		<% end %>
	</div>
	<br />
	<div align="center">
		<%= hidden_field_tag 'updated_by_id', current_teacher.id %>
		<%= submit_tag "Search" %>
	</div>
<% end %>