<%= form_for @search, :url => {:action => "search"} do |f| %>
	<p>
		<%= f.label :game_description_like, "Search for:" %>
		<%= f.text_field :game_description_like %>
		<% if more_options_links %>
			<%= link_to_function "more options...", "showMoreOptions(true);", :id => "more_options_link" %>
			<%= link_to_function "fewer options...", "hideMoreOptions(true);", :id => "fewer_options_link" %>
		<% end %>
	</p>
	<div id="more_options">
		<p>
			<%= f.label :game_activity_id_equals, "Customized in..." %>
			<%= f.collection_select :game_activity_id_equals, Activity.all(:order => "name ASC"), :id, :name, :include_blank => "any game template" %>
			<%= f.label :game_language_id_equals, "which is in..." %>
			<%= f.collection_select :game_language_id_equals, Language.all(:order => "name ASC"), :id, :name, :include_blank => "any language" %>
		</p>
		<% if @search_type == "adopt" %>
			<p>
				<%= f.label :game_updated_by_last_name_like, "customized by (teacher's last name)... " %>
				<%= f.text_field :game_updated_by_last_name_like, :size => 25 %>
				<%= f.hidden_field :game_updated_by_id_does_not_equal, :value => current_user.id %>
			</p>
		<% else %>
			<%= f.hidden_field :user_id_equals, :value => current_user.id %>
			<%= render :partial => "shared/search_course_filter", :locals => {:f => f}%>
		<% end %>
	</div>
	<p align="center">
		<%= f.submit "Search", :name => nil %>
	</p>
<% end %>
