<%= form_for @search, :url => {:action => "search"} do |f| %>
	<%= f.hidden_field :user_id_equals, :value => current_user.id %>
	<p>
		<%= f.label :game_description_like, "Search for:" %>
		<%= f.text_field :game_description_like %>
		<%= link_to_function "more options...", :id => "more_options" do |page|
			page.visual_effect :toggle_appear, "onlySearchMyGames"
			page.hide 'more_options'
			page.show 'fewer_options'
		end %>
		<%= link_to_function "fewer options...", :id => "fewer_options" do |page|
			page.visual_effect :toggle_appear, "onlySearchMyGames"
			page.hide 'fewer_options'
			page.show 'more_options'
		end %>
	</p>
	<div id="onlySearchMyGames" style="display: none">
		<p>
			<%= f.label :course_id_equals, "Listed under..." %>
			<%= f.collection_select :course_id_equals, Course.find_all_by_user_id(current_user.id, :order => "name ASC"), :id, :name, :include_blank => "any of my classes" %>
			<%= f.label :hidden_equals, "which is..." %>
			<%= f.select :hidden_equals, options_for_select({"hidden" => "1", "showing" => "0"}, :hidden_equals), :include_blank => "either showing or hidden" %>
		</p>
		<p>
			<%= f.label :game_activity_id_equals, "Customized in..." %>
			<%= f.collection_select :game_activity_id_equals, Activity.all(:order => "name ASC"), :id, :name, :include_blank => "any game template" %>
			<%= f.label :game_language_id_equals, "which is in..." %>
			<%= f.collection_select :game_language_id_equals, Language.all(:order => "name ASC"), :id, :name, :include_blank => "any language" %>
		</p>
	</div>
	<p align="center">
		<%= f.submit "Search", :name => nil %>
	</p>
<% end %>
