<% content_for :page_script do %>
<script type="text/javascript">
// TODO: Issues having this JS work
function disableHiddenSelect() {
	$('search_hidden_equals').selectedIndex = 0;
	$('search_hidden_equals').disabled = true;
}
function enableHiddenSelect() {
	$('search_hidden_equals').disabled = false;
}

$(function() {
	if ($('search_game_activity_id_equals').selectedIndex != 0 
				|| $('search_course_id_equals').selectedIndex != 0 
				|| $('search_game_language_id_equals').selectedIndex != 0) {
		$('onlySearchMyGames').show();
		$('more_options').hide();
		$('fewer_options').show();
	} else {
		$('onlySearchMyGames').hide();
		$('more_options').show();
		$('fewer_options').hide();
	}

	<% unless params[:hidden_equals].nil? %>
		$('hidden_equals').selectedIndex = <%= params[:hidden_equals] + 1 %>;
	<%# else %>
		$('search_hidden_equals').selectedIndex = 0;
	<% end %>
	<% if params[:course_id_equals].nil? %>
		disableHiddenSelect();
	<% end %>
	$('search_course_id_equals').onchange = function() {
		if ($('search_course_id_equals').selectedIndex == 0) {
			disableHiddenSelect();
		} else {
			enableHiddenSelect();
		}
	}
});

</script>
<% end %>

<% stylesheet 'my_games' %>
<% stylesheet 'course' %>

<% if @course.nil? %>
	<% if params[:search].nil? %>
		<h1>Find your LinguaZone game</h1>
	<% else %>
		<h1>Search results (<%= @available_games_count %> total)</h1>
	<% end %>
	<fieldset>
		<legend>Search my games</legend>
		<%= render :partial => "search_fields" %>
	</fieldset>
	<br />
<% else %>
	<% if params['search']['hidden_equals'] == '1' %>
		<h1>Hidden games in <%= @course.name %> (<%= @available_games_count %> total)</h1>
		<p><%= link_to "Go to "+@course.name+" class page", :controller => "courses", :action => "show", :id => @course.id %></p>
		<fieldset>
			<legend>Search hidden games in <%= @course.name %></legend>
			<%= render :partial => "search_fields" %>
		</fieldset>
	<% end %>
<% end %>

<% unless @available_games.nil? or @available_games.empty? %>
	<%= paginate @available_games %>
	<% @available_games.each do |available_game| %>
		<% unless available_game.game.nil? %>
			<%= render :partial => "hidden_game", :locals => {:hidden_game => available_game, :show_in_course => @course} %>
		<% end %>
	<% end %>
<% else %>
	<p>No games matched your search terms.</p>
<% end %>
