<%= stylesheet 'customize' %>
<%= javascript_include_tag "backbone/linguazone" %>
<h1 id="create_a_new">Create a new <%= format_cmzr_type(params[:cmzr_type]) %></h1>
<h4 id="step1_title">Step 1: Select a Game</h4><div id="change_game"><img src="/images/customizer/change_game.png" alt="change game" /></div>
<div class="page_break"></div>
<br />
<div class="body">
  <% @activities.each do |activity| %>
    <div class="activity">
      <div class="circle_icon" style="background: url('http://www.linguazone.com/games/<%= activity.name.gsub(/\s/,'_').camelize(:lower) %>/display/icon.jpg') no-repeat center;"></div>
      <h2><%= activity.name %></h2>
      <div class="icons">
        <%# TODO: Game icons can be a link to a lightbox that will play a video preview of that game %>
        <a data-node-options="<%= activity.node_options %>" data-game-type="<%= activity.game_type %>" data-id="<%=activity.id %>" data-swf="<%= activity.swf %>" href="#"><%= activity.help %></a>
      </div>
			<div class="activity_details <%= activity.swf %>" style="display: none;">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
    </div>
  <% end %>
  <br style="clear: both;" />
  <h4 id="step_title"></h4>
  <div id="examples"></div>
  <div class="spacer"></div>
  <div id="option-lists"></div>
  <div class="spacer"></div>
  <div id="customizer"></div>

  <div id="metadata"></div>
</div>
