<%= stylesheet "customize" %>
<%= javascript_include_tag "backbone/linguazone" %>
<h1>Create a new <%= format_cmzr_type(params[:cmzr_type]) %></h1>
<br />
<div class="body">
	<div>
  	<% @activities.each do |activity| %>
	    <div class="activity">
				<h3><%= activity.name %></h3>
				<div class="icons">
	      	<%= image_tag("/games/#{activity.swf}/display/icon.jpg", :alt => "Customize #{activity.name}") %><br />
					<%# image_tag("shared-buttons/flash_icons/info.png", :class => "floatLeft") %>
					<%# image_tag("shared-buttons/flash_icons/warning.png", :class => "floatRight") %>
				</div>
				<p><%= activity.description %></p>
				<br class="clearFloat" />
				<p class="confirm_step_one">
					<a data-id="<%=activity.id %>" href="#"><%= image_tag("shared-buttons/flash_icons/success.png") %> Customize this game</a>
				</p>
	    </div>
	  <% end %>
		<br class="clearFloat" />
	</div>
  <div id="customizer">
  </div>
</div>
