<br />
<p><%= session[:school].name %>'s subscription has expired.
</p>
<p>To renew <%= session[:school].name %>'s subscription for $<%= String(@upgrade_plan.cost - @school.subscription.subscription_plan.cost) %> and create your account, enter your school's pin number below.</p>

<div class="floatLeft">
	<%= form_tag :controller => "subscription", :action => "create" do %>
	<p>
		<%= label_tag :pin, "Enter your school's 5-digit pin number:" %>
		<%= text_field_tag :pin %>
		<%= hidden_field_tag :subscription, @school.subscription %>
		<%= hidden_field_tag :subscription_plan_id, @upgrade_plan.id %>
		<%= submit_tag "Proceed" %><br />
		<span class="input_hint">(Don't know your school's pin number? No problem. <%= link_to "Contact us", contact_path %>, or ask a colleague who uses LinguaZone.)</span>
	</p>
	<% end %>
</div>
<br class="clearFloat" />