<div id="upgrade_trial">
	
	<h3>Sign up for a 12-month subscription</h3>
	<br />
	<% form_for @subscription, :url => {:controller => "subscription", :action => "upgrade"} do |f| %>
		<p>
			<% @basic_subscriptions.each do |sp| %>
				<%= f.radio_button :subscription_plan_id, sp.id %>
				<%= f.label :subscription_plan_id, sp.name.titleize+" subscription for "+format_max_teachers(sp.max_teachers)+" &mdash; "+format_cost(sp.cost) %><br />
			<% end %>
			<br />
			<% @premium_subscriptions.each do |sp| %>
				<%= f.radio_button :subscription_plan_id, sp.id %>
				<%= f.label :subscription_plan_id, sp.name.titleize+" subscription for "+format_max_teachers(sp.max_teachers)+" &mdash; "+format_cost(sp.cost) %><br />
			<% end %>
		</p>
		<p>Subscription will expire on <%= format_date_with_year(Time.now.advance(:years => 1)) %></p>
		<p align="center">
			<%= f.submit "Upgrade my account now and send me an invoice" %>
		</p>
	<% end %>
</div>