<h2>Subscription is full</h2>
<br />
<p><%= @school.name %>'s subscription is for <%= format_max_teachers(@current_plan.max_teachers) %>, and is currently full. You will need to upgrade your school's subscription to create your account.</p>
<br />
<p align="center">Would you like to upgrade your subscription to allow <%= format_max_teachers(@upgrade_plan.max_teachers) %> teachers for <%= format_cost(@cost) %>?</p>
<p align="center">
	<%= button_to_function "Proceed" do |page|
		page.visual_effect :slide_down, 'new_teacher'
	end %>
	or <%= link_to "cancel", :controller => "about", :action => "pricing" %>
</p>

<br />

<div class="progressContent" id="new_teacher" style="display: none">
	<% form_for @new_teacher, :url => {:controller => "subscription", :action => "join", :upgrade_plan => @upgrade_plan.id} do |f| %>
		<%= f.error_messages %>
		<div>
			<%= render :partial => "teachers/new_teacher_form", :locals => {:f => f} %>
		</div>
		<br />
		<p>
			<%= f.submit 'Send an invoice for '+format_cost(@cost)+' and get started!' %>
		</p>
	<% end %>
</div>