<p><%= @name %> has sent a message from LinguaZone.com:</p>

<p>
	<strong>Details:</strong><br />
	<%= @name %><br />
	from <%= @school %><br />
	in <%= @city %>, <%= @state %>
</p>
 
<p>
	<strong>Message:</strong><br />
	--------------------------------<br />
	<%= @main_msg %><br />
	--------------------------------
</p>