<fieldset id="login">
	<%= form_for (@user_session) do |f| %>
		<%= f.error_messages %>
		<div>
			<%= f.label :email, "Email address:" %>
			<br />
			<%= f.text_field :email %>
		</div>
		<br class="clearFloat" />
		<div>
			<%= f.label :password, "Password:" %>
			<br />
			<%= f.password_field :password %>
		</div>
		<br class="clearFloat" />
		<div align="center">
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me %>
		</div>
		<br class="clearFloat" />
		<div align="center">
			<%= f.hidden_field :role, :value => "teacher" %>
			<%= f.submit "Login" %>
		</div>
	<% end %>
</fieldset>
