<h1>Let's get started!</h1>
<p>Create a class page then customize a sample Leap Frog game to get up and running in just a few minutes. If you have trouble getting started, <%= link_to 'let us know', contact_path %>.</p>

<div class="progressHeader"><%= image_tag "shared-buttons/progress-button-1.jpg" %><h3>Create a class page</h3></div>
<div class="progressContent" id="create_course" style="width: 850px">
  <% remote_form_for @course, :url => {:controller => "my_courses", :action => "create"},
                :update => "create_course" do |f| %>
    <%= render :partial => "my_courses/new_course_form", :locals => {:form => f} %>
  <% end %>
</div>

<div class="progressHeader"><%= image_tag "shared-buttons/progress-button-2.jpg" %><h3>Customize a game</h3></div>
<div class="progressContent">
  <div>
    <div style="float: left;">
      <%= image_tag "/games/"+@game.activity.swf+"/display/icon.jpg" %>
    </div>
    <div style="float: left; padding: 40px 20px 0px 40px;">
      <% form_tag :controller => "customize", :action => "adopt" do %>
        <p>
          Customize my first game in
          <%= select_tag :language_id, options_from_collection_for_select(Language.all(:order => "name"), "id", "name", 2) %>
          <%= hidden_field_tag :id, @game.id %>
          <%= submit_tag "Proceed" %>
        </p>
      <% end %>
    </div>
    <br class="clearFloat" />
  </div>
</div>
