<% form_for @search, :url => {:action => "search"} do |f| %>
	<%= f.hidden_field :user_id_equals, :value => current_user.id %>
	<p>
		<%= f.label :word_list_description_like, "Search for:" %>
		<%= f.text_field :word_list_description_like %>
	</p>
	<div id="onlySearchMyGames" style="display: none">
		<p>
			<%= f.label :course_id_equals, "Listed under..." %>
			<%= f.collection_select :course_id_equals, Course.find_all_by_user_id(current_user.id, :order => "name ASC"), :id, :name, :include_blank => "any of my classes" %>
			<%= f.label :hidden_equals, "which is..." %>
			<%= f.select :hidden_equals, options_for_select({"hidden" => "1", "showing" => "0"}, :hidden_equals), :include_blank => "either showing or hidden" %>
		</p>
	</div>
	<p align="center">
		<%= f.submit "Search", :name => nil %>
	</p>
<% end %>