<div class="floatLeft" style="width: 50%">
	<h2>US schools</h2>
	<ul>
		<% for state in @states do %>
			<li>
				<%= link_to (state.name + "<span> ("+pluralize(state.schools.length, "school")+")</span>").html_safe, 
						:controller => "states", :action => "show", :id => state.id %>
			</li>
		<% end %>
	</ul>
</div>
<div class="floatRight" style="width: 50%">
	<div id="search_schools">
    <fieldset class="school_name_search_area">
      <%= simple_form_for :school, :url => search_schools_path do |f| %>
        <div class="loginLabel">
          <%= f.label :name, "Your school's name:" %>
        </div>
        <div class="loginField">
          <%= f.autocomplete_field :name, autocomplete_name_schools_path %>
        </div>
        <br />
        <div align="center">
          <%= f.submit "Find your class" %>
        </div>
      <% end %>
    </fieldset>
  </div>
	<h2>International schools</h2>
	<ul>
		<% for state in @intl_states do %>
			<li>
				<%= link_to (state.name + "<span> ("+pluralize(state.schools.length, "school")+")</span>").html_safe, 
						:controller => "states", :action => "show", :id => state.id %>
			</li>
		<% end %>
	</ul>
</div>
<br class="clearFloat" />