<%= render :partial => "subscription/checkpoint" %>

<%= render :partial => "checkpoint" %>

<br />

<div class="progressContent">
	<% if session[:school].subscription.nil? %>
		<%= render :partial => 'new_subscription' %>
	<% else %>
		<% if session[:school].subscription.is_expired? %>
			<%= render :partial => "extend_new" %>
		<% else %>
			<% if session[:school].is_availability? %>
				<%= render :partial => "join_subscription" %>
			<% else %>
				<%= render :partial => "upgrade_subscription" %>
			<% end %>
		<% end %>
	<% end %>
</div>

<%= render :partial => "teachers/checkpoint" %>	