<h1>Add a game to <%= @course.name %></h1>
<p><%= link_to "Return to "+@course.name+" class page", :controller => "courses", :action => "show", :id => @course.id %></p>


<br />
<div align="center">
	<%= link_to :controller => "customize", :action => "new", :cmzr_type => "game" do %>
		<div class="big_button" style="width: 200px">
			<span>Create a new game</span>
		</div>
	<% end %>
	<br />
	<%= link_to :controller => "my_games", :action => "adopt" do %>
		<div class="big_button" style="width: 200px">
			<span>Adopt a game</span>
		</div>
	<% end %>
	<br />
	<%= link_to "/my_games/search?search[user_id_equals]=" + String(current_user.id) +
					"&search[course_id_equals]=" + String(@course.id) +
					"&search[hidden_equals]=1" do %>
		<div class="big_button" style="width: 200px">
			<span>Show a hidden game</span>
		</div>
	<% end %>
</div>
<br />