<% stylesheet 'course' %>
<% stylesheet 'teachers' %>
<% content_for :title do %>LinguaZone - <%= @course.name %> at <%= @course.user.school.name %><% end %>
<% content_for :page_script do %>
<link rel="alternate" type="application/rss+xml" title="rss" href="<%= @course.id %>/feed" />
<script type="text/javascript">

var loginRequired = false;
function checkLoginRequired(val) {
	if (val) {
		$("#loginForm").show();
	} else {
		$("#loginForm").hide();
	}
}

$(function() {
	$(".hide_available_item").live("click", function() {
		$(this).text("Hiding...");
		var href = $(this).attr("href");
		var div = $(this).parent().parent().parent();
		$.post(href, function() { $(div).slideUp(); })
		  .error(function() { alert("We're sorry. There was an error hiding this item."); });
		return false;
	})
});

</script>
<% end %>

<div id="school_info">
	<h1><%= @course.name %></h1>
	<p>taught by <%= @course.user.display_name %>
		<br />
		at <%= @course.user.school.name %>
	</p>
	<br class="clearFloat" />
</div>

<% if is_teacher_for(@course) and current_user.is_premium_subscriber? %>
	</div><!-- end wrapper -->
	<div id="settings">
		<h2>Class page settings</h2>
		<!-- <p>
					<div>
						<div class="supercheckbox_left_blank"></div>
						<div class="supercheckbox_center">Students must login to view this page</div>
						<div class="supercheckbox_right"></div>
					</div>
					<br class="clearFloat" />
					
					<div>
						<div class="supercheckbox_left_blank"></div>
						<div class="supercheckbox_center">Post student high scores on game pages</div>
						<div class="supercheckbox_right"></div>
					</div>
					<br class="clearFloat" />
				</p> -->
		<div id="loginForm">
			<%= form_for(@course) do %>
			<p>
				<%= label_tag :code, "Students can register in this class using the class code:" %> 
				<%= text_field_tag :code, @course.code, :size => 12 %>
				<%= hidden_field_tag :id, @course.id %>
				<%= submit_tag "Update" %>
				<br />
				<% if @course.login_required? %>
					<p class="note">
						To access this page, students must create their own username &amp; password then register in this class using the class code.<br />
						To disable password-protection, audio blogs, and student tracking on this class page, enter an empty class code.
					</p>
				<% else %>
					<p class="note">
						Create a class code to password-protect this class page and turn on audio blogs and student tracking.<br />
						Leave the class code blank to allow students to access this page without creating their own usernames and passwords.
					</p>
					</p>
				<% end %>
			</p>
			<% end %>
		</div>
		<div>
			<%= link_to "#{pluralize(@course.course_registrations.size, 'student')} enrolled", course_course_registrations_path(@course), :class => "floatLeft" %>
			<%= link_to "View activity on this class page", course_feed_items_path(@course), :class => "floatRight" %>
			<br class="clearFloat" />
		</div>
	</div>
	<div class="wrapper">
<% end %>

<% if is_showing_or_can_add_to("audio_blog", @showing_posts, @course) %>
	</div><!-- end wrapper -->
	<div class="section_header" id="post_header">
		<h2>Audio blog</h2>
		<% if is_teacher_for(@course) %>
			<div class="add"><p><%= link_to "add a post", :controller => "courses", :action => "add_post", :id => @course.id %></p></div>
		<% end %>
		<br class="clearFloat" />
	</div>
	<div class="wrapper">
<% end %>
<% unless @showing_posts.nil? %>
	<div id="showing_posts">
		<% for showing_post in @showing_posts do %>
			<%= render :partial => "showing_item", :locals => {:showing_item => showing_post, :course => @course} %>
		<% end %>
	</div>
	<br class="clearFloat" />
<% end %>

<% if is_showing_or_can_add_to("word_lists", @showing_word_lists, @course) %>
	</div><!-- end wrapper -->
	<div class="section_header" id="word_list_header">
		<h2>Study word lists</h2>
		<% if is_teacher_for(@course) %>
			<div class="add"><p><%= link_to "add a list", :controller => "courses", :action => "add_list", :id => @course.id %></p></div>
		<% end %>
		<br class="clearFloat" />
	</div>
	<div class="wrapper">
<% end %>
<% unless @showing_word_lists.nil? or @showing_word_lists.empty? %>
	<div id="showing_word_lists">
		<% for showing_word_list in @showing_word_lists do %>
			<%= render :partial => "showing_item", :locals => {:showing_item => showing_word_list, :course => @course}%>
		<% end %>
		<br class="clearFloat" />
	</div>
<% end %>

<% if is_showing_or_can_add_to("games", @showing_games, @course) %>
	</div><!-- end wrapper -->
	<div class="section_header" id="game_header">
		<h2>Play games</h2>
		<% if is_teacher_for(@course) %>
			<div class="add"><p><%= link_to "add a game", :controller => "courses", :action => "add_game", :id => @course.id %></p></div>
			<% if @showing_games.length > 1 %>
				<div class="order"><p>
					<%= link_to "reorder", :controller => "courses", :action => "order_games", :id => @course.id %>
				</p></div>
			<% end %>
		<% end %>
		<br class="clearFloat" />
	</div>
	<div class="wrapper">
<% end %>

<% unless @showing_games.nil? %>
	<div id="showing_games">
		<% for showing_game in @showing_games do %>
			<%= render :partial => "showing_item", :locals => {:showing_item => showing_game, :course => @course} unless showing_game.game.nil? %>
		<% end %>
	</div>
	<br class="clearFloat" />
<% end %>

<% if (current_user.nil? or current_user.role == "student") and @showing_posts.empty? and @showing_word_lists.empty? and @showing_games.empty? %>
	<p align="center">Your teacher has not yet created your class page.</p>
<% end %>