<div id="<%= dom_id(comment) %>" class="<%= comment_class_according_to_user(comment.user) %>" data-comment-id="<%= comment.id %>"
			onmouseover="document.getElementById('<%= dom_id(comment) %>_controls').className = 'controls'" 
			onmouseout="document.getElementById('<%= dom_id(comment) %>_controls').className = 'hide_controls'">
	<blockquote>
		<% if comment.audio_id == 0 %>
			<p><%= h(comment.content) %></p>
		<% else%>
			<div>
				<div class="audio_player swf_window">
					<%= swf_tag "/swfs/audio-widget.swf", {:size => "215x138", :flashvars => "audio_id="+String(comment.audio_id), :parameters => {:wmode => "transparent", :quality => "high"}} %>
				</div>
				<p><%= h(comment.content) %></p>
				<br class="clearFloat" />
			</div>
		<% end %>
		<br class="clearFloat" />
	</blockquote>
	<cite>
		<span class="author"><%= comment.user.display_name %></span> 
		<span class="date">on <%= format_date_time(comment.updated_at) %></span>
		<span class="<%= dom_id(comment) %>_rating teacher_rating"><%= comment.rating unless comment.rating == 0 %></span>
	</cite>
	
	<div id="<%= dom_id(comment) %>_new_teacher_note" class="new_comment_teacher_note" style="display: none">
		<%= form_tag comment_path(comment), :method => "PUT", :remote => true, :id => "#{dom_id(comment)}_teacher_note_form" do %>
			<%= text_area_tag :teacher_note, comment.teacher_note, :id => "#{dom_id(comment)}_teacher_note_text_area" %><br />
			<%= hidden_field_tag :comment_id, comment.id %>
			<%= hidden_field_tag :available_post_id, @ap.id %>
			<%= submit_tag "Add note" %>
			or 
			<%= link_to "cancel", {}, :class => "invis cancel_note_link" %>
		<% end %>
	</div>

	<div id="<%= dom_id(comment) %>_teacher_note" class="comment_teacher_note" <%= do_not_display_empty_note(comment) %> >
		<p id="<%= dom_id(comment) %>_teacher_note_content"><%= comment.teacher_note %></p>
	</div>
	
	<% if is_teacher_for(@ap.course) and comment.user != current_user %>
		<ul id="<%= dom_id(comment) %>_controls" class="hide_controls">
			<li>Teacher controls:</li>
			<li><%= link_to "Delete comment", comment, :method => "DELETE", :confirm => "Are you sure you want to delete this student's comment?", :remote => true %></li>
			<li id="<%= "#{dom_id(comment)}_new_note_link" %>" <%= display_empty_note(comment) %> >
				<%= link_to "Add teacher note", {}, :class => "new_teacher_note_link" %>
			</li>
			<li id="<%= "#{dom_id(comment)}_del_note_link" %>" <%= do_not_display_empty_note(comment) %> >
				<%= link_to "Delete teacher note", {}, :class => "delete_teacher_note_link" %>
			</li>
			<br />
			<li>Rate this comment (<span class="<%= dom_id(comment) %>_rating teacher_rating"><%= comment.rating %></span>): 
						<%= link_to "1-star", {}, :class => "rate_comment_star rate_1", :data => {:rating_num => 1} %>
						<%= link_to "2-stars", {}, :class => "rate_comment_star rate_2", :data => {:rating_num => 2} %>
						<%= link_to "3-stars", {}, :class => "rate_comment_star rate_3", :data => {:rating_num => 3} %>
						<%= link_to "4-stars", {}, :class => "rate_comment_star rate_4", :data => {:rating_num => 4} %>
						<%= link_to "5-stars", {}, :class => "rate_comment_star rate_5", :data => {:rating_num => 5} %>
			</li>
		</ul>
	<% elsif comment.user == current_user %>
		<ul id="<%= dom_id(comment) %>_controls" class="hide_controls">
			<li><%= link_to "Delete this comment", comment, :method => "DELETE", :confirm => "Are you sure you want to delete your comment?", :remote => true %></li>
		</ul>
	<% end %>
</div>