<h1>Editing post</h1>

<%= form_for(@post) do |f| %>
  <%= f.error_messages %>
	
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.check_box "shared" %> <%= f.label "shared", "Students can see each others' responses" %>
	</p>
	<p>
		<%= f.hidden_field :course_id, :value => @ap.course_id %>
		<%= f.submit 'Update' %>
	</p>
<% end %>

<%= link_to 'Cancel', :back %>
