<% stylesheet 'post' %>

<h1>Editing post</h1>

<%= form_for(@post) do |f| %>
  <%= f.error_messages %>
	
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</p>
  <div id="addedMedia">
    <%= f.fields_for :ab_media_resources do |builder| %>
      <div>
        <%= display_optional_media_small(builder.object).html_safe %>
        <p><%= builder.check_box :_destroy %> <%= builder.label :_destroy, "remove" %></p>
      </div>
    <% end %>
  </div>
	<p>
		<%= f.check_box "shared" %> <%= f.label "shared", "Students can see each others' responses" %>
	</p>
	<p>
		<%= f.hidden_field :course_id, :value => @ap.course_id %>
		<%= f.submit 'Update' %> or <%= link_to 'cancel', :back %>
	</p>
<% end %>
