<% stylesheet 'post' %>

<h1>Editing post</h1>

<%= form_for(@post) do |f| %>
  <%= f.error_messages %>
	
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.check_box "shared" %> <%= f.label "shared", "Students can see each others' responses" %>
	</p>
	<p>
		<%= f.hidden_field :course_id, :value => @ap.course_id %>
		<%= f.submit 'Update' %> or <%= link_to 'cancel', :back %>
	</p>
<% end %>
