<% stylesheet 'about' %>

<div class="free_trial_banner">
	<div class="sign_up_details">
		<h1>Free two-week trial</h1>
		<p>Full access to try the website with your students</p>
	</div>
	<div class="sign_up_button">
		<p><%= link_to "SIGN UP NOW", trial_path %></p>
	</div>
</div>

<br class="clearFloat" />

<h2>What you get with a LinguaZone subscription</h2>
<p>12 months of access to customize games, word lists, and audio blogs with your students. Learn about the details below.</p>

<table width="100%" cellspacing="0" cellpadding="0" id="pricing_table">
	<tr>
		<td> </td>
		<td><strong>Basic</strong></td>
		<td><strong>Premium</strong></td>
	</tr>
	<tr>
		<td width="350">Customize games</td>
		<td><%= image_tag 'check.gif' %></td>
		<td><%= image_tag 'check.gif' %></td>
	</tr>
	<tr>
		<td>Create word lists</td>
		<td><%= image_tag 'check.gif' %></td>
		<td><%= image_tag 'check.gif' %></td>
	</tr>
	<tr>
		<td>Create an audio blog</td>
		<td>- </td>
		<td><%= image_tag 'check.gif' %></td>
	</tr>
	<tr>
		<td>Play games in fullscreen mode</td>
		<td> -</td>
		<td><%= image_tag 'check.gif' %></td>
	</tr>
	<tr>
		<td>Track student participation</td>
		<td> -</td>
		<td><%= image_tag 'check.gif' %></td>
	</tr>
</table>

<div style="width: 85%; padding: 15px; margin: 0px auto; background-color: #FFFFAA; border: 1px solid #666;">
	<h2>Does your school already have a subscription?</h2>
	<p>
		<%= form_tag :controller => "subscription", :action => "join_form" do %>
			<%= label :pin, "Enter your school's 5-digit pin number:" %>
			<%= text_field_tag :pin, nil, {:size => 12} %>
			<%= submit_tag "Proceed" %><br />
			<span class="input_hint">(Don't know your school's pin number? No problem. <%= link_to "Contact us", contact_path %> or ask a colleague who uses LinguaZone.)</span>
		<% end %>
	</p>
</div>
<br />

<h2>Sign up for a basic subscription</h2>
<table width="100%" cellspacing="0" id="sign_up_basic">
	<tr>
		<td><em>1 teacher</em></td>
		<td><em>up to 3 teachers</em></td>
		<td><em>up to 6 teachers</em></td>
		<td><em>unlimited teachers</em></td>
	</tr>
	<tr>
		<td>$79/ year</td>
		<td>$149/ year</td>
		<td>$225/ year</td>
		<td>$299/ year</td>
	</tr>
	<tr>
		<td>
			<%= form_for @subscription, :url => {:controller => "schools", :action => "check"} do |f| %>
				<%= f.hidden_field :subscription_plan_id, :value => 1 %>
				<%= f.submit "Sign up" %>
			<% end %>
		</td>
		<td>
			<%= form_for @subscription, :url => {:controller => "schools", :action => "check"} do |f| %>
				<%= f.hidden_field :subscription_plan_id, :value => 2 %>
				<%= f.submit "Sign up" %>
			<% end %>
		</td>
		<td>
			<%= form_for @subscription, :url => {:controller => "schools", :action => "check"} do |f| %>
				<%= f.hidden_field :subscription_plan_id, :value => 3 %>
				<%= f.submit "Sign up" %>
			<% end %>
		</td>
		<td>
			<%= form_for @subscription, :url => {:controller => "schools", :action => "check"} do |f| %>
				<%= f.hidden_field :subscription_plan_id, :value => 4 %>
				<%= f.submit "Sign up" %>
			<% end %>
		</td>
	</tr>
</table>

<h2>Sign up for a premium subscription</h2>
<table width="100%" cellspacing="0" id="sign_up_premium">
	<tr>
		<td><em>1 teacher</em></td>
		<td><em>up to 3 teachers</em></td>
		<td><em>up to 6 teachers</em></td>
		<td><em>unlimited teachers</em></td>
	</tr>
	<tr>
		<td>$99/ year</td>
		<td>$199/ year</td>
		<td>$299/ year</td>
		<td>$399/ year</td>
	</tr>
	<tr>
		<td>
			<%= form_for @subscription, :url => {:controller => "schools", :action => "check"} do |f| %>
				<%= f.hidden_field :subscription_plan_id, :value => 5 %>
				<%= f.submit "Sign up" %>
			<% end %>
		</td>
		<td>
			<%= form_for @subscription, :url => {:controller => "schools", :action => "check"} do |f| %>
				<%= f.hidden_field :subscription_plan_id, :value => 6 %>
				<%= f.submit "Sign up" %>
			<% end %>
		</td>
		<td>
			<%= form_for @subscription, :url => {:controller => "schools", :action => "check"} do |f| %>
				<%= f.hidden_field :subscription_plan_id, :value => 7 %>
				<%= f.submit "Sign up" %>
			<% end %>
		</td>
		<td>
			<%= form_for @subscription, :url => {:controller => "schools", :action => "check"} do |f| %>
				<%= f.hidden_field :subscription_plan_id, :value => 8 %>
				<%= f.submit "Sign up" %>
			<% end %>
		</td>
	</tr>
</table>

<h2>District discounts</h2>
<p>Discounts are available for groups of 5 schools or more &mdash; up to 35% off! <%= link_to "Get in touch" %> for details</p>
