<% stylesheet 'about' %>


<div style="width: 85%; padding: 15px; margin: 0px auto; background-color: #FFFFAA; border: 1px solid #666;">
	<h2>Does your school already have a subscription?</h2>
	<p>
		<%= form_tag :controller => "subscription", :action => "join_form" do %>
			<%= label :pin, "Enter your school's 5-digit pin number:" %>
			<%= text_field_tag :pin, nil, {:size => 12} %>
			<%= submit_tag "Proceed" %><br />
			<span class="input_hint">(Don't know your school's pin number? No problem. <%= link_to "Contact us", contact_path %> or ask a colleague who uses LinguaZone.)</span>
		<% end %>
	</p>
</div>
<br />
