<% stylesheet "about" %>

<h1>We are language teachers, too.</h1>
<p>LinguaZone was founded in 2005 to inspire the love of language learning in young students. We connect with students where they are already comfortable &mdash; at the computer &mdash; and make use of the powerful technology that is ubiquitous in our world. We use LinguaZone in our own classes, and we work with the feedback from our teachers to improve our offerings every day. If you have ideas or suggestions for the site, please <%= link_to "let us know", contact_path %>.</p>

<h2>Founded by Margaret and Colin in 2005.</h2>
<p>LinguaZone is run by Colin Angevine and Margaret Roberts, with a rotating cast of contributing teachers, designers, and artists helping out. Colin and Margaret have been running educational language programs to engage young students and create engaging, memorable educational experiences.</p>

<h2>Engaging, activity-based language learning. And not just on the web!</h2>
<p>Colin and Margaret also run <%= link_to "Prima Lingua", "http://www.primalingua.net" %>, the innovative introductory language course, and <%= link_to "LinguaZone Language Camps", "http://www.linguazonecamps.com" %>, the summer camp in suburban Philadelphia running programs in 10 different languages.</p>

<hr />

<div>
	<h1><a name="email">Get in touch with us. We'd love to hear from you!</a></h1>
	<div id="contact_form">
		<%= form_for :email, :url => { :controller => "about", :action => "send_mail" } do |f| %>
			<%= f.error_messages %>
			<p><%= f.label :name, "Your name:" %><br /><%= f.text_field :name, :size => 40 %></p>
			<p><%= f.label :address, "Your email address:" %><br /><%= f.text_field :address, :size => 40 %></p>
			<p><%= f.label :school, "Your school:" %><br /><%= f.text_field :school, :size => 40 %></p>
			<p>
				<%= f.label :city, "Your school's city and state:" %><br />
				<%= f.text_field :city, :size => 30 %>, <%= f.collection_select :state, State.all(:order => "name ASC"), :abbr, :abbr %>
			</p>
			<p><%= f.label :body, "Your message:" %><br /><%= f.text_area :body, :rols => 5, :cols => 40 %></p>
			<p><%= f.submit "Send message "%></p>
		<% end %>
	</div>
	<div id="contact_details">
		<h2>By email:</h2>
		<p>info@linguazone.com</p>
		<h2>By snail mail:</h2>
		<p>417 Yorkshire Road<br />Bryn Mawr, PA 19010</p>
		<br />
		<p>Please contact us by email for questions about billing and how to use the website.</p>
	</div>
	<br class="clearFloat" />
</div>
