<ul>
	<li><%= link_to "OVERVIEW", :controller => "teachers" %></li>
	<li>
		<%= link_to "CLASSES", :controller => "my_courses" %>
		<ul>
			<% for course in @courses do %>
				<li><%= link_to course.name, :controller => "courses", :action => "show", :id => course.id %></li>
			<% end %>
			<li><%= link_to "Create a class", :controller => "my_courses", :action => "new" %></li>
		</ul>
	</li>
	<li>
		<%= link_to "GAMES", :controller => "my_games" %>
		<ul>
			<li><%= link_to "Search my games", :controller => "my_games", :action => "search" %></li>
			<li><%= link_to "View all my games", :controller => "my_games", :action => "all" %></li>
			<li><%= link_to "Adopt a game", :controller => "my_games", :action => "adopt" %></li>
			<li><%= link_to "Create a new game", :controller => "customize", :action => "new", :cmzr_type => "game" %></li>
		</ul>
	</li>
	<li>
		<%= link_to "WORD LISTS", :controller => "my_word_lists" %>
		<ul>
			<li><%= link_to "Search my word lists", :controller => "my_word_lists", :action => "search" %></li>
			<li><%= link_to "View all my word lists", :controller => "my_word_lists", :action => "all" %></li>
			<li><%= link_to "Create a new word list", :controller => "customize", :action => "new", :cmzr_type => "list" %></li>
		</ul>
	</li>
	<li>
		<%= link_to "AUDIO BLOG", :controller => "my_posts" %>
		<ul>
			<li><%= link_to "View all my audio blog posts", :controller => "my_posts" %></li>
			<li><%= link_to "Create a new audio blog post", :controller => "posts", :action => "new" %></li>
		</ul>
	</li>
</ul>